.wrapper {
    width: 100vw;
    height: 91vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.box1,
.box2 {
    width: 400px;
    height: 400px;
    /* background: #000; */
    margin: 20px;
}

.box1 {
    display: grid;
}

.box1 h1 {
    font-size: 60px;
    font-weight: 900;
    word-spacing: 20px;
    font-family: "Ubuntu";
}

.box1 p {
    font-size: 1rem;
    font-weight: 600;
    font-family: "Poppins";
}

.btn {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
}

.box1 .a {
    padding: 10px 40px;
    font-family: "Quantico";
    font-weight: 900;
    font-size: 1.3rem;
    background: #ffb43a;
    border: 0.2px solid;
    color: #000;
    border-radius: 5px;
    /* margin-right: 20px; */
}

.box1 .b {
    padding: 10px 40px;
    font-family: "Quantico";
    font-weight: 900;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 0.5px solid;
    color: #f8f8f8;
    background-color: #053b19;
    /* margin-left: 20px; */
}

.box2 {
    background: url("./image/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}